.main-component{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.title-for-page{
  width: 100vw;
  text-align: center;
  height: 5vh;
}

/* this is all the CSS for the grid components */
.grid-components{
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: flex-start;
}

.grid-table{
  display: grid;
  grid-template-columns: repeat(25, 22px) 
}

.box{
  border: black solid 1px;
  width:22px;
  height: 22px;
}
.grid-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
}


/* this is all the CSS for the presets components */
.presets-components{
  width: 50vw;
  padding: .5rem;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.presets-div{
  height: 35vh;
  padding: 1rem
}

.presets-section{
  display: flex;
  justify-content: space-around;
}

.the-presets{
  text-align: center; 
  width: 25%; 
  display: flex ;
  flex-direction:column;
  justify-content: center; 
  align-items: center;
  cursor: pointer;
}

.component-holder{
  border: black solid 1px;
  margin-top: 1rem;
  height: 78vh;
  border-radius: 10px;
}

/*this section is all the styling for the buttons*/

.buttons-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 31vh;
  width: 51vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.modal-button{
  display: flex;
  justify-content: center;
  padding-top: 2rem
}

.rules{
  width:87%;
  height: 5vh;
  text-align: center;
  border: black solid 1px;
  border-radius: 10px;
  cursor: pointer;
  background-image: url('./images/new-background.png');
  text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 0 -1px 0 #000,
  0 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0 0 #000,
  -1px 0 0 #000; 
  color: white;
  letter-spacing: .2rem;
  outline: none;
  padding: .3rem;
  font-size: 1rem;
}

.rules:hover{
  background: black;
}

.button{
  width: 40%;
  height: 5vh;
  text-align: center;
  border: black solid 1px;
  border-radius: 10px;
  cursor: pointer;
  background-image: url('./images/new-background.png');
  text-shadow: -1px -1px 0 #000, 1px 1px 0 #000, 0 -1px 0 #000,
  0 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 0 0 #000,
  -1px 0 0 #000; 
  color: white;
  letter-spacing: .1rem;
  outline: none;
  font-size: 1rem;
}

.button:hover{
  background: black;
}

.button-select{
  width: 20vw;
  height: 5vh;
  border-radius: 10px;
  border: black solid 1px;
  background-image: url('./images/new-background.png');
  text-shadow: -1.5px -1.5px 0 #000, 1.5px 1.5px 0 #000, 0 -1.5px 0 #000,
  0 1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 0 0 #000,
  -1.5px 0 0 #000; 
  color: white;
  letter-spacing: .1rem;
  text-align-last:center;
  font-size: 1rem;
}

.button-select:hover{
  background: black;
}

.button:active, 
.button:focus {
    border:0.1em solid #0059b3;
 }

 .copyright{
   padding-top: 1rem;
 }


 /*start of media queries for responsiveness*/

 @media screen and (max-width: 1300px) {
  .grid-components{
    flex-direction: column;
    align-items: center;
    height: 165vh;
  }
  .component-holder{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .presets-components{
    width: 70vw;
    order: 1;
    padding-top: 0;
  }
  .buttons-div{
    width: 70vw;
    order:0;
  }

  .button-select{
    width: 28vw;
  }
  .copyright{
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .presets-section{
    flex-wrap: wrap;
  }
  .the-presets{
    width: 30vw;
  }
  .grid-components{
    height: 192vh;
  }
  .component-holder{
    height: 192vh;
  }
  .copyright{
    padding-top: 2rem;;
  }
}

@media screen and (max-width: 600px) {
  .component-holder{
    height: 100vh;
    border: none;
  }
  .presets-components{
    width: 100%;
  }
  .buttons-div{
    width: 97%;
  }
  .button-select{
    width: 34vw;
  }
  .grid-components{
    width: 80vw;
    height: 165vh;
  }
  .box{
    border: black solid 1px;
    width:14px;
    height: 14px;
  }
  .grid-table{
    display: grid;
    grid-template-columns: repeat(25, 14px) 
  }
  .copyright{
    font-size: .5rem;
  }
  .button-select{
    width: 31vw;
  }
  .buttons-div{
    border: black solid 1px;
    border-radius: 10px;
  }
}


