.main-component{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}

.title-for-page{
  width: 100vw;
  text-align: center;
  height: 5vh;
}

/* this is all the CSS for the grid components */
.grid-components{
  width: 37vw;
  padding: 1rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid-table{
  display: grid;
  
}
.box{
  border: black solid 1px;
  width:15px;
  height: 15px;
}


/* this is all the CSS for the presets components */
.presets-components{
  width: 55vw;
  padding: .5rem;
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.presets-div{
  height: 35vh;
  padding: 1rem
}

.presets-section{
  display: flex;
  justify-content: space-around;
}

.the-presets{
  text-align: center; 
  width: 25%; 
  display: flex ;
  flex-direction:column;
  justify-content: center; 
  align-items: center;
  cursor: pointer;
}

/* this is all the CSS for the rules components */
.rules-components{
  padding: .5rem;
  height: 30vh;
  line-height: 2rem;
}


/*this section is all the styling for the buttons*/

.buttons-div{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}

.main-buttons{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.button{
  width: 8.5vw;
  height: 5vh;
  text-align: center;
  border: none;
  background-image: url('./images/new-background.png');
  text-shadow: -1.5px -1.5px 0 #000, 1.5px 1.5px 0 #000, 0 -1.5px 0 #000,
  0 1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 0 0 #000,
  -1.5px 0 0 #000; 
  color: white;
  letter-spacing: .05rem;
  outline: none;
}

.button:hover{
  background: black;
}

.button-select{
  width: 8.5vw;
  height: 5vh;
  background-image: url('./images/new-background.png');
  text-shadow: -1.5px -1.5px 0 #000, 1.5px 1.5px 0 #000, 0 -1.5px 0 #000,
  0 1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 0 0 #000,
  -1.5px 0 0 #000; 
  color: white;
  letter-spacing: .05rem;
  border: none;
  text-align-last:center;
}

.button-select:hover{
  background: black;
}

.button:active, 
.button:focus {
    border:0.1em solid #0059b3;
 }


 /*start of media queries for responsiveness*/

 @media screen and (max-width: 1200px) {
  .presets-components{
    width: 80vw;
  }
  .buttons-div{
    width: 100%;
  }
  .copyright{
    padding-bottom: 3rem;
  }
}

@media screen and (max-width: 1050px) {
  .buttons-div{
    width: 36vw;
  }
  .button{
    width: 12vw ;
  }
  .button-select{
    width: 12vw ;
  }
}

@media screen and (max-width: 950px) {
  .buttons-div{
    width: 40vw;
  }
  .button{
    width: 13vw ;
  }
  .button-select{
    width: 13vw ;
  }
  .rules-components{
    padding: .5rem;
    height: 40vh;
    line-height: 2rem;
  }
}


@media screen and (max-width: 820px) {
  .buttons-div{
    width: 47vw;
  }
  .button{
    width: 16vw ;
  }
  .button-select{
    width: 16vw ;
  }
  .rules-components{
    padding: .5rem;
    height: 40vh;
    line-height: 2rem;
  }
  .rules-components{
    padding: .5rem;
    font-size: .8rem;
    width: 95%;
  }
  .presets-components{
    width: 85vw;
  }
}

@media screen and (max-width: 715px) {
  .buttons-div{
    width: 55vw;
  }
  .button{
    width: 17vw ;
  }
  .button-select{
    width: 17vw ;
  }

  .presets-components{
    width: 92vw;
  }
}

@media screen and (max-width: 660px) {
  .buttons-div{
    width: 57vw;
  }
  .button{
    width: 19vw ;
  }
  .button-select{
    width: 19vw ;
  }
  .presets-components{
    width: 92vw;
    height: 80vh;
  }
  .presets-section{
    flex-wrap: wrap;

  }
  .the-presets{
    width:40%;
  }
  .presets-div{
    height: 40vh;
    margin-bottom: 20vh;
  }
  .copyright{
    padding-top: 10vh;
  }
}

@media screen and (max-width: 660px) {
  .rules-components{
    font-size: .6rem;
  }
}

@media screen and (max-width: 530px) {
  .rules-components{
    font-size: .5rem;
  }
  .buttons-div{
    width:85vw;
  }
  .button{
    width: 22vw ;
  }
  .button-select{
    width: 22vw ;
  }
}

